<template>
  <HeaderPage />
  <header>
    <h2 class="headerName">Add Post</h2>
    <hr class="header-divider" />
  </header>
  <div class="container breadcrumbscontainer">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/posts">Posts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Post</li>
      </ol>
    </nav>
  </div>
  <div id="message"></div>
  <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    v-if="errors.length > 0"
  >
    <ul v-for="error in errors" :key="error">
      <li>
        {{ error }}
      </li>
    </ul>
  </div>

  <div class="container create-div">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"
        >Title<span class="mandatory">*</span></label
      >
      <div class="col-sm-10">
        <input
          class="form-control"
          type="text"
          id="title"
          v-model="title"
          placeholder="Enter Post Title"
        />
        <span class="errormsg" v-if="v$.title.$error">
          {{ v$.title.$errors[0].$message }}
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"
        >Description<span class="mandatory">*</span></label
      >
      <div class="col-sm-10">
        <textarea
          class="form-control"
          style="height: 150px"
          v-model="description"
          name="description"
          placeholder="Enter Description"
        ></textarea>
        <span class="errormsg" v-if="v$.description.$error">
          {{ v$.description.$errors[0].$message }}
        </span>
      </div>
    </div>
    <button v-on:click="create">Add Post</button>
  </div>
</template>
<script>
import HeaderPage from "./Header.vue";
import axios from "axios";
import useValidate from "@vuelidate/core";
import { required, maxLength, helpers } from "@vuelidate/validators";
export default {
  name: "AddPost",
  components: {
    HeaderPage,
  },
  data() {
    return {
      title: "",
      description: "",
      errors: [],
      v$: useValidate(),
    };
  },
  validations() {
    return {
      title: {
        required: helpers.withMessage("Title cannot be empty", required),
        maxLength: helpers.withMessage(
          `Title must have a max length of 50 characters`,
          maxLength(50)
        ),
      },
      description: {
        required: helpers.withMessage("Description cannot be empty", required),
        maxLength: helpers.withMessage(
          `Description must have a max length of 250 characters`,
          maxLength(250)
        ),
      },
    };
  },
  methods: {
    async create() {
      this.errors = [];

      this.v$.$validate(); // checks all inputs
      if (this.v$.$error) {
        return false;
      }
      const UserInfo = JSON.parse(document.cookie);
      const headers = {
        "Content-Type": "application/json",
        Accept: "application/json",
        Authorization: `Bearer ${UserInfo.token}`,
      };
      const data = {
        title: this.title,
        description: this.description,
      };

      await axios
        .post("http://127.0.0.1:82/api/posts", data, { headers })
        .then((response) => {
          if (response.status == 200) {
            document.getElementById("message").className =
              "alert alert-success alert-dismissible fade show";
            document.getElementById("message").innerHTML =
              response.data.message;
            setTimeout(() => this.$router.push({ path: "/posts" }), 2000);
          }
        })
        .catch((error) => {
          this.errors = [];
          if (error.response.data.errors.title) {
            this.errors.push(error.response.data.errors.title[0]);
          }
          if (error.response.data.errors.description) {
            this.errors.push(error.response.data.errors.description[0]);
          }
          
          console.log(error);
        });
    },
  },
  mounted() {
    if (document.cookie) {
      if (JSON.parse(document.cookie).expires) {
        this.$router.push({ name: "LogIn" });
      } else {
        this.name = JSON.parse(document.cookie).name;
        this.$router.push({ name: "AddPost" });
      }
    } else {
      this.$router.push({ name: "LogIn" });
    }
  },
};
</script>
