<template>
  <HeaderPage />
  <header>
    <h2 class="headerName">Edit Post</h2>
    <hr class="header-divider" />
  </header>
  <div class="container breadcrumbscontainer">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/posts">Posts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Post</li>
      </ol>
    </nav>
  </div>
  <div id="message"></div>
  <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    v-if="errors.length > 0"
  >
    <ul v-for="error in errors" :key="error">
      <li>
        {{ error }}
      </li>
    </ul>
  </div>

  <div class="container create-div">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"
        >Title<span class="mandatory">*</span></label
      >
      <div class="col-sm-10">
        <input
          class="form-control"
          type="text"
          id="title"
          v-model="title"
          placeholder="Enter Post Title"
        />
        <span class="errormsg" v-if="v$.title.$error">
          {{ v$.title.$errors[0].$message }}
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"
        >Description<span class="mandatory">*</span></label
      >
      <div class="col-sm-10">
        <textarea
          class="form-control"
          style="height: 150px"
          v-model="description"
          name="description"
          placeholder="Enter Description"
        ></textarea>
        <span class="errormsg" v-if="v$.description.$error">
          {{ v$.description.$errors[0].$message }}
        </span>
      </div>
    </div>
    <button v-on:click="update">Update Post</button>
  </div>
</template>
<script>
import HeaderPage from "./Header.vue";
import axios from "axios";
import useValidate from "@vuelidate/core";
import { required, maxLength, helpers } from "@vuelidate/validators";
import $ from "jquery";
export default {
  name: "EditPost",
  components: {
    HeaderPage,
  },
  data() {
    return {
      postid: null,
      title: "",
      description: "",
      errors: [],
      v$: useValidate(),
    };
  },
  validations() {
    return {
      title: {
        required: helpers.withMessage("Title cannot be empty", required),
        maxLength: helpers.withMessage(
          `Title must have a max length of 50 characters`,
          maxLength(50)
        ),
      },
      description: {
        required: helpers.withMessage("Description cannot be empty", required),
        maxLength: helpers.withMessage(
          `Description must have a max length of 250 characters`,
          maxLength(250)
        ),
      },
    };
  },
  mounted() {
    if (document.cookie) {
      if (JSON.parse(document.cookie).expires) {
        this.$router.push({ name: "LogIn" });
      }
    } else {
      this.$router.push({ name: "LogIn" });
    }
    const UserInfo = JSON.parse(document.cookie);
    const headers = {
      "Content-Type": "application/json",
      Accept: "application/json",
      Authorization: `Bearer ${UserInfo.token}`,
    };
    this.postid = this.$route.params.id;
    if (isNaN(this.postid)) {
      this.$router.push({ name: "HomePage" });
    }
    axios
      .get("http://127.0.0.1:82/api/posts/" + this.postid, { headers })
      .then((response) => {
        if (response.status == 200) {
          console.log(response.data.data.title);
          this.title = response.data.data.title;
          this.description = response.data.data.description;
        }
      })
      .catch((error) => {
        this.errors = [];
        if (error.response.data.errors.title) {
          this.errors.push(error.response.data.errors.title[0]);
        }
        if (error.response.data.errors.description) {
          this.errors.push(error.response.data.errors.description[0]);
        }
        console.log(error);
      });
  },
  methods: {
    async update() {
      this.v$.$validate(); // checks all inputs
      if (this.v$.$error) {
        return false;
      }
      $("div.spanner").addClass("show");
      $("div.overlay").addClass("show");
      const UserInfo = JSON.parse(document.cookie);
      const headers = {
        Authorization: `Bearer ${UserInfo.token}`,
        "Access-Control-Allow-Origin": "*",
      };
      const data = {
        title: this.title,
        description: this.description,
      };
      await axios
        .put("http://127.0.0.1:82/api/posts/" + this.postid, data, { headers })
        .then((response) => {
          $("div.spanner").removeClass("show");
          $("div.overlay").removeClass("show");
          if (response.status == 200) {
            document.getElementById("message").className =
              "alert alert-success alert-dismissible fade show";
            document.getElementById("message").innerHTML =
              "Post Updated Successfully";
            setTimeout(() => this.$router.push({ path: "/posts" }), 2000);
          }
        })
        .catch(function (error) {
          $("div.spanner").removeClass("show");
          $("div.overlay").removeClass("show");
          console.log(error);
          //   return Promise.reject(error)
        });
    },
  },
};
</script>
