<template>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">MShield 5.1 : IM20 Production</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-md-auto gap-2">
          <li class="nav-item rounded">
            <a class="nav-link" href="/posts"
              ><i class="bi bi-house-fill me-2"></i>Posts</a
            >
          </li>
          <li class="nav-item dropdown rounded">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ><i class="fa fa-user" aria-hidden="true"></i
            ></a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown"
            >
              <li>
                <span class="dropdown-item">Hello {{ name }}</span>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <button v-on:click="logout" class="dropdown-item">
                  Logout
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="overlay"></div>
  <div class="spanner">
    <div class="loader"></div>
    <p>Loading.</p>
  </div>
</template>

<script>
import axios from "axios";
import cssStyles from "../assets/main.css";

export default {
  name: "HeaderPage",
  data() {
    return {
      name: "",
    };
  },
  methods: {
    async logout() {
      const UserInfo = JSON.parse(document.cookie);
      const api = "http://127.0.0.1:82/api/logout";
      axios
        .get(api, {
          headers: {
            Authorization: `Bearer ${UserInfo.token}`,
          },
        })
        .then((res) => {
          UserInfo.expires = true;
          document.cookie = JSON.stringify(UserInfo);
          this.$router.push({
            name: "LogIn",
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  mounted() {
    if (document.cookie) {
      if (JSON.parse(document.cookie).expires) {
        this.$router.push({ name: "LogIn" });
      } else {
        this.name = JSON.parse(document.cookie).name;
      }
    } else {
      this.$router.push({ name: "LogIn" });
    }
  },
};
</script>
