<template>
  <HeaderPage />
  <header>
    <h2 class="headerName">Dashboard</h2>
    <hr class="header-divider" />
  </header>
  <div class="container breadcrumbscontainer">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
  </div>
  <div class="container gridcontainer">
    <div class="card">
      <a href="/posts">
      <div class="card-body">
        <h5 class="card-title">Posts</h5>
      </div>
      </a>
    </div>
  </div>
</template>
<script>
import HeaderPage from "./Header.vue";
export default {
  name: "HomePage",
  data() {
    return {
      name: "",
    };
  },
  components: {
    HeaderPage,
  },
  mounted() {
    if (document.cookie) {
      if (JSON.parse(document.cookie).expires) {
        this.$router.push({ name: "LogIn" });
      } else {
        this.name = JSON.parse(document.cookie).name;
        this.$router.push({ name: "HomePage" });
      }
    } else {
      this.$router.push({ name: "LogIn" });
    }
  },
};
</script>
