<template>
  <img class="logo" alt="Vue logo" src="../assets/ifoesearch.png" />
  <h3>MShield 5.1 : IM20 Production</h3>
  <div class="login">
    <div id="message"></div>
    <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    v-if="errors.length > 0"
  >
    <ul v-for="error in errors" :key="error">
      <li>
        {{ error }}
      </li>
    </ul>
  </div>
    <input type="text" v-model="email" placeholder="Enter Email" />
    <span class="errormsg" v-if="v$.email.$error">
      {{ v$.email.$errors[0].$message }}
    </span>
    <input type="password" v-model="password" placeholder="Enter Password" />
    <span class="errormsg" v-if="v$.password.$error">
      {{ v$.password.$errors[0].$message }}
    </span>
    <div>
      <button v-on:click="login">Login</button>
      <p>
        <router-link to="/sign-up">Sign Up</router-link>
      </p>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="spanner">
    <div class="loader"></div>
    <p>Loading.</p>
  </div>
</template>
<script>
import axios from "axios";
import cssStyles from "../assets/main.css";
import useValidate from "@vuelidate/core";
import { required, email, minLength, helpers } from "@vuelidate/validators";
import { reactive, computed } from "vue";
import $ from "jquery";

export default {
  name: "LogIn",
  data() {
    return {
      v$: useValidate(),
      email: "",
      password: "",
      errors: [],
    };
  },
  validations() {
    return {
      email: {
        required: helpers.withMessage("Email cannot be empty", required),
        email: helpers.withMessage("Must be valid emailId", email),
      },
      password: {
        required: helpers.withMessage("Password cannot be empty", required),
        minLength: helpers.withMessage(
          ({ $pending, $invalid, $params, $model }) =>
            `Password must have a min length of ${$params.min} so it is ${
              $invalid ? "invalid" : "valid"
            }`,
          minLength(4)
        ),
      },
    };
  },
  methods: {
    async login() {
      this.v$.$validate(); // checks all inputs
      if (this.v$.$error) {
        return false;
      }
      $("div.spanner").addClass("show");
      $("div.overlay").addClass("show");
      await axios
        .get(
          "http://127.0.0.1:82/api/login?email=" +
            this.email +
            "&password=" +
            this.password
        )
        .then((response) => {
          $("div.spanner").removeClass("show");
          $("div.overlay").removeClass("show");
          if (response.status == 200) {
            document.cookie = JSON.stringify(response.data);
            setTimeout(() => this.$router.push({ path: "/" }), 2000);
          } else {
            document.getElementById("message").className =
              "alert alert-danger alert-dismissible fade show";
            document.getElementById("message").innerHTML = response.data.error;
          }
        }) .catch((error) => {
          $("div.spanner").removeClass("show");
          $("div.overlay").removeClass("show");
          this.errors = [];
          if (error.response.data.errors.email) {
            this.errors.push(error.response.data.errors.email[0]);
          }
          if (error.response.data.errors.password) {
            this.errors.push(error.response.data.errors.password[0]);
          }
          console.log(error);
        });
    },
  },
  mounted() {
    if (document.cookie) {
      if (JSON.parse(document.cookie).expires) {
        this.$router.push({ name: "LogIn" });
      } else {
        this.name = JSON.parse(document.cookie).name;
        this.$router.push({ name: "HomePage" });
      }
    } else {
      this.$router.push({ name: "LogIn" });
    }
  },
};
</script>
