<template>
  <HeaderPage />
  <header>
    <h2 class="headerName">Posts</h2>
    <hr class="header-divider" />
  </header>
  <div class="container breadcrumbscontainer">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Posts</li>
      </ol>
    </nav>
  </div>
  <div class="home-container">
    <div class="container">
      <div class="row">
        <div class="col-md-1 createButton">
          <a class="btn btn-primary" href="/add-post"
            ><i class="fa fa-plus" aria-hidden="true"></i> Create</a
          >
        </div>
      </div>
    </div>
    <div style="padding: 20px">
      <table
        id="datatable"
        class="stripe dt-responsive nowrap"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Product Title</th>
            <th>Product Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="post in posts" :key="post.id">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.description }}</td>
            <td>
              <button
                v-on:click="edit(post.id)"
                style="border-color: transparent"
              >
                <i class="fa-solid fa-pen"></i></button
              >&nbsp;
              <button
                v-on:click="destroy(post.id)"
                style="border-color: transparent"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import "jquery/dist/jquery.min.js";
import "bootstrap/dist/css/bootstrap.min.css";
import "datatables.net-dt/js/dataTables.dataTables";
import "datatables.net-dt/css/jquery.dataTables.min.css";
import HeaderPage from "./Header.vue";
import axios from "axios";
import $ from "jquery";
import DataTable from "datatables.net";
export default {
  name: "Posts",
  components: {
    HeaderPage,
  },
  data() {
    return {
      posts: [],
      isModalVisible: false,
    };
  },
  methods: {
    edit(postid) {
      if (isNaN(postid)) {
        this.$router.push({ name: "HomePage" });
      } else {
        this.$router.push({ name: "EditPost", params: { id: postid } });
      }
    },
    destroy(id) {
      if (confirm("Are you sure you want to remove this Post?")) {
        const UserInfo = JSON.parse(document.cookie);
        const headers = {
          "Content-Type": "application/json",
          Accept: "application/json",
          Authorization: `Bearer ${UserInfo.token}`,
        };
        axios
          .delete("http://127.0.0.1:82/api/posts/" + id, { headers })
          .then((response) => {
            if (response.status == 200) {
              this.$router.go();
            }
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },
    getPosts() {
      const UserInfo = JSON.parse(document.cookie);
      axios
        .get("http://127.0.0.1:82/api/posts", {
          headers: {
            Authorization: `Bearer ${UserInfo.token}`,
          },
        })
        .then((response) => {
          for (var i = 0; i < response.data.data.length; i++) {
            this.posts.push({
              id: response.data.data[i].id,
              title: response.data.data[i].title,
              description: response.data.data[i].description,
            });
          }
          // this.posts = response.data.data;
          // $("#datatable").DataTable();
        })
        .then(() => {
          $("#datatable").DataTable({
            info: true,
            autoWidth: false,
            bLengthChange: false,
            searching: false,
            columns: [
              {
                sortable: true,
              },
              {
                sortable: false,
              },
              {
                sortable: false,
              },
              {
                sortable: false,
              },
            ],
          });
        });
    },
  },
  mounted() {
    if (document.cookie) {
      if (JSON.parse(document.cookie).expires) {
        this.$router.push({ name: "LogIn" });
      } else {
        this.name = JSON.parse(document.cookie).name;
        this.$router.push({ name: "Posts" });
      }
    } else {
      this.$router.push({ name: "LogIn" });
    }
    this.getPosts();
  },
};
</script>
