<template>
  <img class="logo" alt="Vue logo" src="../assets/ifoesearch.png" />
  <h3>MShield 5.1 : IM20 Production</h3>
  <div class="register-div">
    <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    v-if="errors.length > 0"
  >
    <ul v-for="error in errors" :key="error">
      <li>
        {{ error }}
      </li>
    </ul>
  </div>
    <input type="text" v-model="name" placeholder="Enter Name" />
    <span class="errormsg" v-if="v$.name.$error">
      {{ v$.name.$errors[0].$message }}
    </span>
    <input type="text" v-model="email" placeholder="Enter Email" />
    <span class="errormsg" v-if="v$.email.$error">
      {{ v$.email.$errors[0].$message }}
    </span>
    <input type="password" v-model="password" placeholder="Enter Password" />
    <span class="errormsg" v-if="v$.password.$error">
      {{ v$.password.$errors[0].$message }}
    </span>
    <input
      type="password"
      v-model="c_password"
      placeholder="Confirm Password"
    />
    <span class="errormsg" v-if="v$.c_password.$error">
      {{ v$.c_password.$errors[0].$message }}
    </span>
    <div>
      <button v-on:click="signUp">Sign Up</button>
      <p>
        <router-link to="/login">Login</router-link>
      </p>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="spanner">
    <div class="loader"></div>
    <p>Loading.</p>
  </div>
</template>

<script>
import cssStyles from "../assets/main.css";
import axios from "axios";
import useValidate from "@vuelidate/core";
import $ from "jquery";
import {
  required,
  email,
  minLength,
  sameAs,
  helpers,
  alpha,
} from "@vuelidate/validators";
export default {
  name: "SignUp",

  data() {
    return {
      errors: [],
      name: "",
      email: "",
      password: "",
      c_password: "",
      v$: useValidate(),
    };
  },
  validations() {
    return {
      name: {
        required: helpers.withMessage("Name cannot be empty", required),
        alpha: helpers.withMessage("Name accepts only alphabets", alpha),
      },
      email: {
        required: helpers.withMessage("Email cannot be empty", required),
        email: helpers.withMessage("Must be valid emailId", email),
      },
      password: {
        required: helpers.withMessage("Password cannot be empty", required),
        minLength: helpers.withMessage(
          `Password must have a min length of 8`,
          minLength(8)
        ),
      },
      c_password: {
        required: helpers.withMessage(
          "Confirm Password cannot be empty",
          required
        ),
        sameAs: helpers.withMessage(
          `confirm password must be same as password`,
          sameAs(this.password)
        ),
      },
    };
  },
  methods: {
    async signUp() {
      this.v$.$validate(); // checks all inputs
      if (this.v$.$error) {
        return false;
      }
      $("div.spanner").addClass("show");
      $("div.overlay").addClass("show");
      await axios
        .post("http://127.0.0.1:82/api/register", {
          name: this.name,
          email: this.email,
          password: this.password,
          c_password: this.c_password,
        })
        .then((response) => {
          $("div.spanner").removeClass("show");
          $("div.overlay").removeClass("show");
          document.cookie = JSON.stringify(response.data);
          this.$router.push({ name: "HomePage" });
        })
        .catch((error) => {
          
          $("div.spanner").removeClass("show");
          $("div.overlay").removeClass("show");
          this.errors = [];
          if (error.response.data.errors.name) {
            this.errors.push(error.response.data.errors.name[0]);
          }
          if (error.response.data.errors.email) {
            this.errors.push(error.response.data.errors.email[0]);
          }
          if (error.response.data.errors.password) {
            this.errors.push(error.response.data.errors.password[0]);
          }
          if (error.response.data.errors.c_password) {
            this.errors.push(error.response.data.errors.c_password[0]);
          }
          console.log(error);
        });
    },
  },
  mounted() {
    if (document.cookie) {
      if (JSON.parse(document.cookie).expires) {
        this.$router.push({ name: "SignUp" });
      } else {
        this.name = JSON.parse(document.cookie).name;
        this.$router.push({ name: "HomePage" });
      }
    } else {
      this.$router.push({ name: "SignUp" });
    }
  },
};
</script>