.fa-pen {
  color: #0d6efd;
}

.fa-trash-can {
  color: red;
}

.mandatory {
  color: red;
  padding-left: 5px;
}

.gridcontainer {
  padding: 30px;
}

.header-divider {
  height: 0;
  margin: 0.5rem 1.5rem;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, .15);
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}

.card-body {
  border-radius: 5px;
  background-color: #101010;
  color: white;
  height: 8rem;
}

.card {
  width: 16rem;
}

.card-title {
  padding: 30px;
}

.card>a {
  text-decoration: none;
  color: white;

}

.breadcrumb-item>a {
  text-decoration: none;
}

.createButton {
  margin-left: -2rem;
  margin-top: 1rem !important;
  width: 12% !important;
}

.card-title>a:hover {
  color: white;
}

.headerName {
  text-align: left;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  color: currentColor;
}

.breadcrumbscontainer {
  padding: 10px;
  margin-top: 1rem;
  background-color: #ccc;
  height: 3rem;
  max-width: 1220px !important;
  border-radius: 5px;
}

.register-div input {
  border-radius: 5px;
  width: 300px;
  height: 40px;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}

.create-div {
  padding-top: 30px;
  ;
}

.create-div .form-control {
  border-radius: 5px;
  width: 500px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}

.create-div button {
  border-radius: 5px;
  margin-top: 10px;
  width: 120px;
  height: 40px;
  border: 1px solid #1E90FF;
  background: #1E90FF;
  color: white;
}

table th,
table td {
  white-space: nowrap;
  font-size: 13px;
}

.logo {
  height: 50%;
  width: 35% !important;
}

.register-div button {
  border-radius: 5px;
  margin-top: 10px;
  width: 300px;
  height: 40px;
  border: 1px solid #1E90FF;
  background: #1E90FF;
  color: white;
}

.errormsg {
  display: block;
  position: sticky;
  font-size: 13px;
  color: red;
  font-weight: 100;
  margin-top: -5px;
}

.login,
.register-div {
  padding-top: 20px;
}

.home-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.login input {
  border-radius: 5px;
  width: 300px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}

.login button {
  border-radius: 5px;
  margin-top: 10px;
  width: 300px;
  height: 40px;
  border: 1px solid #1E90FF;
  background: #1E90FF;
  color: white;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  font-size: 13px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  text-align: center;
  transform: translateX(-50%);
}

.spanner {
  position: absolute;
  top: 50%;
  left: 0;
  background: #2a2a2a55;
  width: 100%;
  display: block;
  text-align: center;
  height: 300px;
  color: #FFF;
  transform: translateY(-50%);
  z-index: 1000;
  visibility: hidden;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.show {
  visibility: visible;
}

.spanner,
.overlay {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.spanner.show,
.overlay.show {
  opacity: 1
}
